table {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #9d3ed4;
  color: white;
}

td {
  background-color: #f9f9f9;
}
